<!doctype html>
<html lang="en">

<head>
    <!-- resource -->
    <?php include __DIR__.'/resource/resource.php';?>
    <title>Our categories</title>
</head>

<body class="">

    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>


    <!-- BODY -->
    <div class="container">

        <div class="d-flex bd-highlight mt-5 me-4 ms-4 mb-3">
            <div class="flex-grow-1 bd-highlight h5 text-secondary d-none d-md-block">Categories</div>
            <div class="flex-grow-1 bd-highlight h5 text-secondary">
                <div class="input-group">
                    <span class="input-group-text bg-white" id="basic-addon1" style="vertical-align: 0.125em;">
                        <img src="/template/icon/search.svg" alt="search" width="18px">
                    </span>
                    <input type="text" class="form-control border-start-0" placeholder="Search"
                        id="categorySearchQuery">
                </div>
            </div>
        </div>

        <div class="ps-4 pe-4">
            <div class="row g-2" id="categoryListView">

                <?php foreach ($categorylist as $cat) { ?>
                    <div class="col-12 col-md-6 col-lg-4 border-bottom">
                        <div class="d-flex bd-highlight pt-2 pb-2 pe-2">
                            <div class="flex-grow-1 bd-highlight h6 mt-1 mb-0">
                            <?php echo $cat['title'] ?>
                        </div>
                        <div class="bd-highlight">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button"
                                    class="btn btn-sm btn-primary ps-3 pe-3 <?php echo $cat['question_avl'] ? '' : 'disabled' ?>">
                                    <a class="d-block text-white text-decoration-none"
                                        href="/category/quiz/<?php echo str_replace(' ','-',$cat['title']) ?>">Quiz</a>
                                </button>
                                <button type="button"
                                    class="btn btn-sm btn-primary ps-3 pe-3 <?php echo $cat['exam_avl'] ? '' : 'disabled' ?>">
                                    <a class="d-block text-white text-decoration-none"
                                        href="/category/exam/<?php echo str_replace(' ','-',$cat['title']) ?>">Test</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <?php } ?>

            </div>
        </div>




        <!-- Template -->
        <div class="d-none" id="singleCategory">
            <div class="col-12 col-md-6 col-lg-4 border-bottom">
                <div class="d-flex bd-highlight pt-2 pb-2 pe-2">
                    <div class="flex-grow-1 bd-highlight h6 mt-1 mb-0">
                        #title
                    </div>
                    <div class="bd-highlight">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-primary ps-3 pe-3 #question_disabled">
                                <a class="d-block text-white text-decoration-none"
                                    href="/category/quiz/#link_question_title">Quiz</a>
                            </button>
                            <button type="button" class="btn btn-sm btn-primary ps-3 pe-3 #exam_disabled">
                                <a class="d-block text-white text-decoration-none"
                                    href="/category/exam/#link_exam_title">Test</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template End -->


    </div>

    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>


    <script>

        var categoryList = JSON.parse('<?php echo json_encode($categorylist) ?>');
        $("#categorySearchQuery").keyup(function () {
            searchCategory($("#categorySearchQuery").val());
        });

        // load comment ajax
        function searchCategory(query) {
            
            $("#categoryListView").empty();
            $.each(categoryList, function (i, result) {
                if (result.title.toLowerCase().indexOf(query.toLowerCase())>=0){
                    template = $("#singleCategory").html();
                    template = template.replace("#title", result.title);
                    template = template.replace("#link_question_title", result.title.replaceAll(" ", "-"));
                    template = template.replace("#link_exam_title", result.title.replaceAll(" ", "-"));
                    template = template.replace("#question_disabled", result.question_avl ? '' : 'disabled');
                    template = template.replace("#exam_disabled", result.exam_avl ? '' : 'disabled');
                    $("#categoryListView").append(template);
                }
            });

        }

    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KPXYFG7WZV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KPXYFG7WZV');
    </script>

</body>

</html>