<!doctype html>
<html lang="en">

<head>
    <!-- resource -->
    <?php include __DIR__.'/resource/resource.php';?>
    <title>Exam Creator</title>
</head>

<body class="bg-light">

    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>
    
    <!-- error message start -->
    <?php if(isset($_GET['error'])) {
        if(!$_GET['error']){ ?>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <div class="container">
                <div> <?php echo $_GET['msg'] ?></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    <?php }} ?>

    <?php if(isset($_GET['error'])) {
        if($_GET['error']){ ?>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="container">
                <div> <?php echo $_GET['msg'] ?></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    <?php }} ?>
    <!-- error message end -->

    <!-- BODY -->
    <div class="container mt-4">

        <div class="d-flex bd-highlight">
            <div class="flex-fill bd-highlight">
                <a class="btn btn-sm btn-outline-primary" href="/exam/add" role="button">Add Exam</a>
            </div>
            <div class="flex-fill bd-highlight text-end">
                <a class="btn btn-sm btn-outline-primary" href="/smartedit/edit" role="button">Smart Edit</a>
                <a class="btn btn-sm btn-outline-primary" href="/creator/info/<?php echo $creator ?>" role="button">My Center</a>
                <a class="btn btn-sm btn-outline-primary" href="/report/list" role="button">Reports</a>
            </div>
        </div>

        <!-- exam List -->
        <div class="mt-3 bg-white shadow-sm rounded <?php echo sizeof($examlist)>0 ? '' : 'd-none' ?>">
            <table class="table bg-white">
                <thead class="bg-light text-secondary">
                    <tr>
                        <th scope="col">Exam</th>
                        <th scope="col">Info</th>
                        <th scope="col">Publish</th>
                        <th scope="col">Results</th>
                        <th scope="col">Link</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($examlist as $exam) { ?>
                    <tr>
                        <td>  
                            <div class="h6 mb-1 pb-0">
                                <a href="/question/list/<?php echo $exam['id'] ?>" class="text-decoration-none d-block">
                                    <?php echo $exam['title'] ?>
                                </a>
                            </div>
                            <div class="text-secondary small">
                                <?php echo date_format(date_create($exam['created_date']),"d F Y") ?>
                                <?php if($exam['enabled'] == false){ ?> 
                                    <a href="/report/examReview/<?php echo $exam['id'] ?> ">
                                        <button type="button" class="badge bg-warning text-dark border-0"> Blocked </button>
                                    </a>
                                <?php } ?>
                            </div>
                        </td>
                        <td class="">
                            <div class="small">
                                <div class="">
                                    <?php echo $exam['attemped'] ?> attempts 
                                </div>
                                <div class="text-nowrap">
                                <?php echo $exam['number_of_question'] ?> question .
                                <?php echo $exam['duration_mins'] ?> mins |
                                + <?php echo $exam['point'] ?> 
                                - <?php echo $exam['negative_point'] ?>
                                </div>
                                <div class="text-nowrap">
                                <?php if($exam['start_time']){ ?> 
                                        <span class="text-success"><?php echo date("d F, h:i A", strtotime($exam['start_time'])); ?></span>
                                <?php } ?>
                                <?php if($exam['end_time']){ ?> 
                                      - <span class="text-danger"><?php echo date("d F, h:i A", strtotime($exam['end_time'])); ?></span>
                                <?php } ?>
                                </div>
                            </div>
                        </td>
                        <td>
                            <?php if($exam['published'] ){ ?> 
                                <a href="/exam/publish/<?php echo $exam['id'] ?> ">
                                    <button type="button" class="btn btn-sm btn-success p-1 ps-3 pe-3 rounded-pill"> Published </button>
                                </a>
                            <?php } else { ?>
                                <a href="/exam/publish/<?php echo $exam['id']  ?> ">
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-1 ps-3 pe-3 rounded-pill"> Publish </button>
                                </a>
                            <?php } ?>
                        </td>
                        <td>
                            <a href="/exam/results/<?php echo $exam['id']  ?> ">
                                <button type="button" class="btn btn-sm btn-light p-1 ps-3 pe-3 rounded-pill"> Results </button>
                            </a>
                        </td>
                        <td>
                            <div>
                                <input type="hidden" value="/examcenter/start/<?php echo $exam['id']  ?>">
                                <button id="copyUrlBtn" class="btn btn-sm btn-light p-1 ps-3 pe-3 rounded-pill" data-bs-toggle="tooltip"
                                    data-placement="top" title="Copy Exam Link">
                                    <span class="">Copy Link</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-light p-1 ps-3 pe-3 rounded-pill" 
                            href="/exam/edit/<?php echo $exam['id']  ?>" role="button">Edit</a>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>

        <div class="mb-5 <?php echo sizeof($examlist)>0 ? '' : 'd-none' ?>">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item <?php echo $currentPage==1? 'disabled':'' ?>">
                        <a class="page-link" href="/exam/list/<?php echo $currentPage-1 ?>/<?php echo $pages ?>">Prev</a>
                    </li>
                
                    <?php 
                    $i = 1; $limit = $pages>10 ? 10 : $pages;
                    if($currentPage > 5) {
                        $i = $currentPage-5;
                        $limit = $currentPage+5 > $pages ? $pages : $currentPage+5;
                        $i = $limit-9;
                        if($i<1) $i=1;
                    }
                    for($i ; $i <= $limit; $i++) {?>
                        <?php if($i!=$currentPage) { ?>
                        <li class="page-item"><a class="page-link" href="/exam/list/<?php echo $i ?>/<?php echo $pages ?>"><?php echo $i ?></a></li>
                        <?php } else { ?>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link"><?php echo $i ?></span>
                        </li>
                        <?php } ?>
                    <?php } ?>
                
                    <li class="page-item <?php echo $currentPage==$pages? 'disabled':'' ?>">
                        <a class="page-link" href="/exam/list/<?php echo $currentPage+1 ?>/<?php echo $pages ?>">Next</a>
                    </li>
                </ul>
              </nav>
        </div>


    </div>



    <script>
        var currentToolTip = undefined;
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
        $("body #copyUrlBtn").click(function () {
            console.log(1111);
            //$(this).parent().find('input').select();
            var $temp = $("<textarea>");
            $("body").append($temp);
            host = "http://" + $(location).attr('hostname');
            $temp.val(host + $(this).parent().find('input').val()).select();
            document.execCommand("copy");
            $temp.remove();
            $(this).tooltip('hide')
                .attr('data-bs-original-title', 'Copied!')
                .tooltip('show');
            currentToolTip = $(this);
        });
        $("body #copyUrlBtn").mouseleave(function () {
            $(currentToolTip).attr('data-bs-original-title', 'Copy Exam Link');
            currentToolTip = undefined;
        });

    </script>
</body>

</html>