<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link href="/template/resource/highlight.css" rel="stylesheet">
    <script src="/template/resource/highlight.min.js"></script>
    <link href="/template/resource/app.css" rel="stylesheet">
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <title>
        <?php echo $exam->title ?>
    </title>
    <style>
        .dot {
            height: 15px;
            width: 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .vertical-center {
            min-height: 100%;
            /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh;
            /* These two lines are counted as one :-)       */
            display: flex;
            align-items: center;
            overflow: hidden;
        }

        .bg-pink {
            background-color: #e6007a;
            color: white;
        }

        .hoverBorder:hover {
            border-color: lightslategray !important;
            cursor: pointer;
        }

        .text-limit {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>

<body class="bg-light">

    <!-- headers -->
    <div class="bg-top shadow-sm">
        <div class="border-0">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-6 col-md-6 h4 mb-0 pt-2 pb-2">
                        <div class="text-white">
                            <span class="fw-bold h2">mcQ</span><span class="fs-6">Schools</span>
                        </div>
                    </div>

                    <!-- user -->
                    <div class="col-6 col-md-6 pt-3 pb-1 text-end">
                        <span class="h6 small text-nowrap overflow-hidden">
                            <?php echo SessionManager::get('email'); ?>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--- alert toast -->
    <div aria-live="polite" aria-atomic="true" class="bg-dark bd-example-toasts">
        <div class="toast-container position-absolute p-3 top-10 start-50 translate-middle-x" id="toastPlacement" style="z-index: 11">
            <div id="alertToast" class="toast align-items-center text-white bg-dark border-0 " role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Answer not saved. Please wait a few minutes before trying again.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var alertToast = new bootstrap.Toast(document.querySelector('#alertToast'), {
            autohide: true
        });
            // alertToast.show();
    </script>
    <!--- alert toast end -->


    <!-- exam center -->
    <div id="examcenter" class="unselectable mt-4">
        <div class="">
            <div class="container">
                <div class="row mb-3">

                    <!-- exam title -->
                    <div class="col-8 font-weight-bold text-limit">
                        <span class="h5 text-secondary text-nowrap overflow-hidden">
                            <?php echo $exam->title ?>
                        </span>
                    </div>
                    <!-- timer -->
                    <div class="col-4">
                        <div class="btn-group float-end">
                            <span class="btn btn-secondary btn-sm " style="display: flex; align-items: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock" viewBox="0 0 16 16">
                                    <path
                                        d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                </svg>
                            </span>
                            <span id="timer" class="btn btn-secondary btn-sm">0 : 0 : 0</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row g-2">
                <div class="col-12 col-md-8">
                    <div class="bg-white shadow-sm rounded p-4">

                        <div class="">
                            <strong class="badge bg-secondary h6">Question: <span id="activeQuestion">0</span></strong>
                        </div>

                        <div class="h6">
                            <pre id="question">Question</pre>
                        </div>
                        <div><img src="" id="questionImg"></div>
                        <div id="optionTable">
                            <div id="option1" class="border bg-hover rounded p-2 ps-3  mt-4 mb-2">option 1</div>
                            <div id="option2" class="border bg-hover rounded p-2 ps-3  mt-3 mb-3">option 2</div>
                            <div id="option3" class="border bg-hover rounded p-2 ps-3  mt-3 mb-3">option 3</div>
                            <div id="option4" class="border bg-hover rounded p-2 ps-3  mt-3 mb-3">option 4</div>
                        </div>

                        <div class="row mt-5 mb-1">
                            <div class="col-3">
                                <button id="prev" type="button" class="btn btn-sm btn-info">Prev</button>
                            </div>
                            <div class="col-6 text-center">
                                <button id="review" type="button" class="btn btn-sm  btn-info float-center">Mark
                                    review</button>
                                <button id="clear" type="button"
                                    class="btn btn-sm  btn-info float-center">Clear</button>
                            </div>
                            <div class="col-3">
                                <button id="next" type="button" class="btn btn-sm btn-info float-end">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="bg-white p-4 rounded shadow-sm">

                        <div class="mb-2">
                            <strong class="text-secondary h6">Question Overview</strong>
                        </div>
                        <div>
                            <div class="" id="questionOverviewList"></div>
                        </div>

                        <div class="mt-5 small text-secondary">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="badge bg-success"> </span> Attemped
                                </div>
                                <div class="col-md-6">
                                    <span class="badge bg-pink"> </span> Review
                                </div>
                                <div class="col-md-12">
                                    <span class="badge bg-light"> </span> Not answared
                                </div>
                            </div>
                        </div>

                        <div class="pt-3 clearfix d-grid">
                            <button id="submit" class="btn btn-light float-end border">Submit Exam</button>
                        </div>

                    </div>
                </div>

            </div>


            <div class="mt-5"> </div>
        </div>

    </div>






    <script>
        var goToQ;
        $(document).ready(function () {

            var startTime = new Date();
            var examId = parseInt('<?php echo $exam->id ?>');
            var examUserId = parseInt('<?php echo $examUser->id ?>');
            var pauseDuration = parseInt('<?php echo $examUser->duration ?>');
            var duration = parseInt('<?php echo $exam->duration_mins ?>');
            //var questionList = JSON.parse('');
            var questionList = <?php echo $questionlist ?>;
            var examResult = JSON.parse('<?php echo $examResult ?>');
            var reviewList = [];

            var totalQuestion = 0;
            var activeQuestion = 0;
            var activeQuestionId = 0;
            var activeQuestionAns = 0;

            if (pauseDuration)
                duration = pauseDuration;


            // --------------------------------------------------------------------------------------------


            // next
            $("#next").click(function () {
                activeQuestion++;
                if (activeQuestion < totalQuestion) {
                    updateQuestion(questionList[activeQuestion]);
                    updateQuestionCss();
                }
                else
                    activeQuestion--;
            });

            // prev
            $("#prev").click(function () {
                activeQuestion--;
                if (activeQuestion >= 0) {
                    updateQuestion(questionList[activeQuestion]);
                    updateQuestionCss();
                }
                else
                    activeQuestion++;
            });

            // review
            $("#review").click(function () {
                reviewList.push(activeQuestionId);
                updateQuestionOverviewList();
            });

            // clear option
            $("#clear").click(function () {
                $("#optionTable div").removeClass("border-primary bg-light");
                examResult = $.grep(examResult, function (qust) {
                    return qust.question_id != activeQuestionId;
                });

                url = "/examcenter/deleteResult/" + examUserId + "/" + activeQuestionId;
                ajaxCall(url, "POST", 3, '')

                updateQuestionOverviewList();
                updateQuestionCss();
            });

            // go to question
            goToQ = function (id) {
                activeQuestion = id;
                updateQuestion(questionList[activeQuestion]);
                updateQuestionCss();
            }

            // set question
            var updateQuestion = function (questionObj) {
                $("#question").html(convert_special_html_characters(questionObj.question));
                if (questionObj.question_img) {
                    $("#questionImg").show();
                    $('#questionImg').attr('src', '/' + questionObj.question_img);
                } else {
                    $('#questionImg').hide();
                    $('#questionImg').attr('src', '');
                }

                $("#option1").text(questionObj.option_one);
                $("#option2").text(questionObj.option_two);
                $("#option3").text(questionObj.option_three);
                $("#option4").text(questionObj.option_four);
                activeQuestionId = questionObj.id;
                activeQuestionAns = questionObj.ans;

                $("pre code").each(function () { $(this).text($(this).text().trim()); });
                $("pre code").each(function (i, block) { hljs.highlightElement(block); });
            };

            // convert special html characters
            var convert_special_html_characters = function (str) {
                str = str.replace("<code>", "codeStart");
                str = str.replace("</code>", "codeEnd");
                str = $("<div/>").text(str.trim()).html();
                str = str.replace("codeStart", "<code>");
                str = str.replace("codeEnd", "</code>");
                //console.log(str);
                return str;
            }

            // update question css
            var updateQuestionCss = function () {
                $("#activeQuestion").text(activeQuestion + 1);
                $("#optionTable div").removeClass("border-success bg-success text-white");
                $.each(examResult, function (key, value) {
                    if (value.question_id == activeQuestionId) {
                        $("#option" + value.ans_option).addClass("border-success bg-success text-white");
                    }
                });
            }

            // track option click - update option css on click
            //$("#option1").click(function () {
            $('body').on('click', '#option1', function (e) {
                saveAnswer(1);
                $("#optionTable div").removeClass("border-success bg-success text-white");
                $("#option1").addClass("border-success bg-success text-white");
            });
            //$("#option2").click(function () {
            $('body').on('click', '#option2', function (e) {
                saveAnswer(2);
                $("#optionTable div").removeClass("border-success bg-success text-white");
                $("#option2").addClass("border-success bg-success text-white");
            });
            //$("#option3").click(function () {
            $('body').on('click', '#option3', function (e) {
                saveAnswer(3);
                $("#optionTable div").removeClass("border-success bg-success text-white");
                $("#option3").addClass("border-success bg-success text-white");
            });
            //$("#option4").click(function () {
            $('body').on('click', '#option4', function (e) {
                saveAnswer(4);
                $("#optionTable div").removeClass("border-success bg-success text-white");
                $("#option4").addClass("border-success bg-success text-white");
            });

            // update exam result
            var updateExamResult = function (ansOption) {
                flag = false;
                $.each(examResult, function (key, value) {          // update old result
                    if (value.question_id == activeQuestionId) {
                        examResult[key].ans_option = ansOption;
                        flag = true;
                    }
                });
                if (!flag) {                                        // add new result
                    resultObj = {};
                    resultObj.question_id = activeQuestionId;
                    resultObj.ans_option = ansOption;
                    examResult.push(resultObj);
                }
                updateQuestionOverviewList();
            }

            // update question number list
            var updateQuestionOverviewList = function () {
                $("#questionOverviewList").empty();
                $.each(questionList, function (key, value) {
                    flag = true;
                    // review question
                    $.each(reviewList, function (i, q_id) {
                        if (q_id == value.id) {
                            $("#questionOverviewList").append('<button onclick="goToQ(' + key + ')" type="button" class="mt-2 me-2 ps-2 pe-2 btn bg-pink btn-sm">' + (++key) + '</button>');
                            flag = false;
                        }
                    });
                    // checked question
                    if (flag)
                        $.each(examResult, function (i, qs) {
                            if (qs.question_id == value.id) {
                                $("#questionOverviewList").append('<button onclick="goToQ(' + key + ')" type="button" class="mt-2 me-2 ps-2 pe-2 btn btn-success btn-sm">' + (++key) + '</button>');
                                flag = false;
                            }
                        });
                    // unchecked question
                    if (flag) {
                        $("#questionOverviewList").append('<button onclick="goToQ(' + key + ')" type="button" class="mt-2 me-2 ps-2 pe-2 btn btn-light btn-sm">' + (++key) + '</button>');
                    }
                });
            }

            // duration clock
            $("#timer").text(Math.floor(duration / 60) + " : " + duration % 60 + " : " + 0);
            countDownSec = duration * 60;
            var x = setInterval(function () {
                d = Number(countDownSec);
                h = Math.floor(d / 3600);
                m = Math.floor(d % 3600 / 60);
                s = Math.floor(d % 3600 % 60);

                $("#timer").text(h + " : " + m + " : " + s);

                // time up warning
                if (m == 5 && h == 0) {
                    $("#timer").removeClass("btn-secondary");
                    $("#timer").addClass("btn-danger");
                }

                // update duration
                if (duration != Math.floor(countDownSec / 60)) {
                    duration--;
                    saveDuration();
                }

                // submit exam
                if (countDownSec <= 0) {
                    clearInterval(x);
                    submitExam(); //submit exam on duration end
                }

                countDownSec--;
            }, 1000);


            // submit exam
            $("#submit").click(function () {
                if (confirm("Do you want to submit ?")) {
                    submitExam();
                }
            });
            var submitExam = function () {
                if (duration < 0) duration = 0;
                url = "/examcenter/submit/" + examUserId + "/" + duration;
                redirectUrl = "/examcenter/result/" + examId;
                clearInterval(x);
                $("#submit").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting exam');
                $("#submit").attr('disabled', 'disabled');
                // submit will call after 3sec
                setTimeout(function () {
                    //ajaxCall(url, "POST", 3, redirectUrl); 
                    $.ajax({
                        url: url, type: "POST",
                        success: function (result) {
                            $(location).attr('href', redirectUrl);
                        }, error: function (xhr, textStatus, errorThrown) {
                            $("#submit").html('Submit Exam');
                            $("#submit").removeAttr('disabled');
                        }
                    });
                }, 2000);
            }

            // save option
            var saveAnswer = function (ansOption) {
                //ans = activeQuestionAns == ansOption ? true : false;
                url = "/examcenter/saveResult/" + examUserId + "/" + activeQuestionId + "/" + ansOption;
                //ajaxCall(url, "POST", 3, '');
                updateExamResult(ansOption);
                // alertToast.show(); 
                $.ajax({
                    url: url,
                    type: "POST",
                    qId: activeQuestionId,
                    success: function (result) {
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        undoAnswer(this.qId);
                        alertToast.show();
                    }
                });
            }
            var undoAnswer = function (questionId) {
                examResult = $.grep(examResult, function (qust) {
                    return qust.question_id != questionId;
                });
                updateQuestionOverviewList();
            }

            // save duration
            var saveDuration = function () {
                url = "/examcenter/updateDuration/" + examUserId + "/" + duration;
                if (duration > 0)
                    ajaxCall(url, "POST", 1, '');
            }

            // pause exam
            $("#pause").click(function () {
                url = "/examcenter/updateDuration/" + examUserId + "/" + duration + "/pause";
                redirectUrl = '/examcenter/start/' + examId;
                if (duration > 0)
                    ajaxCall(url, "POST", 3, redirectUrl);
            });

            // ajax call ------------------------------
            var ajaxCall = function (url, httpMethod, tryLimit, redirectUrl) {
                //var tryCount = 0;
                $.ajax({
                    url: url,
                    type: httpMethod,
                    tryCount: 0,
                    timeout: 20000,
                    success: function (result) {
                        if (redirectUrl.trim().length > 1)
                            $(location).attr('href', redirectUrl);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (textStatus == 'timeout') {
                            this.tryCount++;
                            if (this.tryCount <= tryLimit) {
                                $.ajax(this);
                                return;
                            }
                            return;
                        }
                        if (xhr.status == 500) {
                            console.log(500);
                        }
                    }
                });
            }

            // run on load ---------------------------------------------- //
            totalQuestion = questionList.length;
            updateQuestion(questionList[activeQuestion]);
            updateQuestionOverviewList();
            updateQuestionCss();
            // run on load ---------------------------------------------- //

        });

        // disable copy past
        $('html').bind('copy paste cut', function (e) {
            e.preventDefault(); return false;
        });

        // disable right click
        $("html").on("contextmenu", function (e) {
            return false;
        });

        /*]]>*/
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KPXYFG7WZV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KPXYFG7WZV');
    </script>

</body>

</html>