<!doctype html>
<html lang="en">

<head>
    <!-- resource -->
    <?php include __DIR__.'/resource/resource.php';?>
    <title>Syllabus</title>
    <meta name="description" content="Collection of exam syllabus">
</head>

<body class="bg-light">

    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>


    <!-- BODY -->
    <div class="container">

        <!-- heading -->
        <div class="h6 mt-3 mb-3 text-secondary">
            <a href="/category/testList" class="border-bottom border-2 border-light pb-1 me-2 text-decoration-none text-secondary">Test</a>
            <a href="/category/quizList" class="border-bottom border-2 border-light pb-1 me-2 text-decoration-none text-secondary">Quiz</a>
            <a href="/category/syllabus" class="border-bottom border-2 border-primary pb-1 me-2 text-decoration-none text-secondary">Syllabus</a>
            <a href="/category/browse" class="btn btn-sm border-primary rounded-pill ps-3 pe-3 float-end">All Categories</a>
        </div>

        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 mt-2">
            <div class="col">
                <a href="/downloads/syllabus/wb-police-constable-syllabus.pdf" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/syllabus.svg" alt="syllabus" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">WBP Constable Syllabus</div>
                        <div class="small text-secondary">Syllabus</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/downloads/syllabus/WBP-SI-syllabus.pdf" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white bg-hover rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/syllabus.svg" alt="syllabus" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">WBP SI Syllabus</div>
                        <div class="small text-secondary">Syllabus</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/downloads/syllabus/WBJEE-Nursing-ANM-GNM-Syllabus.pdf" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/syllabus.svg" alt="syllabus" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">WBJEE Nursing ANM GNM Syllabus</div>
                        <div class="small text-secondary">Syllabus</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/downloads/syllabus/WBCS-Syllabus.pdf" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/syllabus.svg" alt="syllabus" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">WBCS Syllabus</div>
                        <div class="small text-secondary">Syllabus</div>
                    </div>
                </div>
                </a>
            </div>       
            
            
            
        </div>


    </div>

    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KPXYFG7WZV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KPXYFG7WZV');
    </script>

</body>

</html>