<!doctype html>
<html lang="en">

<head>
    <!-- resource -->
    <?php include __DIR__.'/resource/resource.php';?>
    <title>Quiz</title>
    <meta name="description" content="Free online quiz, multiple choice questions (MCQ) 
    questions and answers for interview, competitive examination and entrance test. ">
</head>

<body class="bg-light">

    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>


    <!-- BODY -->
    <div class="container">

        <!-- heading -->
        <div class="h6 mt-3 mb-3 text-secondary">
            <a href="/category/testList" class="border-bottom border-2 border-light pb-1 me-2 text-decoration-none text-secondary">Test</a>
            <a href="/category/quizList" class="border-bottom border-2 border-primary pb-1 me-2 text-decoration-none text-secondary">Quiz</a>
            <a href="/category/syllabus" class="border-bottom border-2 border-light pb-1 me-2 text-decoration-none text-secondary">Syllabus</a>
            <a href="/category/browse" class="btn btn-sm border-primary rounded-pill ps-3 pe-3 float-end">All Categories</a>
        </div>

        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 mt-2">
            <div class="col">
                <a href="/category/quiz/West-Bengal-Police-(WBP)-Examination" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">West Bengal Police (WBP)</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/category/quiz/wbjee-nursing" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white bg-hover rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">WBJEE Nursing (ANM, GNM)</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/category/quiz/west-bengal-geography" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">West Bengal Geography</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="/category/quiz/Computer-Fundamental" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Computer Fundamental</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div>       
            
            
            <div class="col">
                <a href="/category/quiz/aptitude-and-reasoning" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Aptitude and Reasoning</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div> 
            <div class="col">
                <a href="/category/quiz/indian-geography" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Indian Geography</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div> 
            <div class="col">
                <a href="/category/quiz/indian-history" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Indian History</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div> 
            <div class="col">
                <a href="/category/quiz/indian-economy" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Indian Economy</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div> 
            <div class="col">
                <a href="/category/quiz/indian-politics" class="text-decoration-none text-dark">
                <div class="d-flex bd-highlight bg-white rounded p-2">
                    <div class="bd-highlight">
                        <span style="vertical-align: 0.125em;" class="me-4">
                            <img src="/template/icon/quiz.svg" alt="test" width="25px">
                        </span>                       
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="h6 mb-0">Indian Polity</div>
                        <div class="small text-secondary">Quiz</div>
                    </div>
                </div>
                </a>
            </div>  
        </div>

        <!-- AD -->
        <div class="mt-2 mb-5 text-center">
            <?php include __DIR__.'/ad/leaderboard.php';?>
        </div>

    </div>

    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KPXYFG7WZV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KPXYFG7WZV');
    </script>

</body>

</html>