<!doctype html>
<html lang="en">

<head>
    <!-- resource -->
    <?php include __DIR__.'/resource/resource.php';?>
    <title>Rank List</title>
    <meta name="description" content="mcqschools rank list">
</head>

<body class="bg-light">
    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>

    <!-- BODY -->
    <div class="container">
        <!-- AD -->
        <div class="mt-2 mb-0 text-center">
            <?php include __DIR__.'/ad/leaderboard.php';?>
        </div>

        <!-- Rank List -->
        <div class="row">
            <div class=" ">

                <div class="d-flex bd-highlight">
                    <div class="flex-fill bd-highlight">
                        <div class="h5 mb-0">Rank List</div>
                        <div class="text-secondary small">Monthly rank list</div>
                    </div>
                    <div class="flex-fill bd-highlight">
                        <div class="input-group">
                            <select class="form-select" id="month">
                                <!-- 
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                -->
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <!-- 
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                                -->
                            </select>
                        </div>
                    </div>
                </div>
        
                <div class=" overflow-auto small mt-3 p-2 bg-white border rounded <?php echo sizeof($resultList)>0 ? '' : 'd-none' ?>">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="row small h6">
                                <div class="col-1">SL</div>
                                <div class="col-3 col-lg-2">Name</div>
                                <div class="col-1 col-lg-2"></div>
                                <div class="col-2">Score</div>
                                <div class="col-1">Test</div>
                                <div class="col-2 overflow-hidden">Question</div>
                                <div class="col-2 overflow-hidden text-nowrap">Correct Ans</div>
                            </div>
                        </div>
        
                        <?php foreach ($resultList as $i=> $result) { ?>
                        <div class="list-group-item bg-hover">
                            <div class="row">
                                <div class="col-1"><?php echo $i+1 ?></div>
                                <div class="col-3 col-lg-2 overflow-hidden">
                                    <?php echo $result['username'] ?>

                                    <?php 
                                        $icon = null;
                                        if( $result['obtained_marks'] >= 1000 ){ $icon = 'star.png'; }
                                        else if ($result['obtained_marks'] >= 700 ) { $icon = 'dimond.png'; }
                                        else if ($result['obtained_marks'] >= 500 ) { $icon = 'gold.png'; }
                                        else if ($result['obtained_marks'] >= 200 ) { $icon = 'silver.png'; }
                                        else if ($result['obtained_marks'] >= 50 ) { $icon = 'bronze.png'; }
                                        else { $icon = 'new.png'; }
                                    ?>

                                    
                                </div>
                                <div class="col-1 col-lg-2">
                                    <img src="/template/icon/rank/<?php echo $icon ?>" width="20px" alt="rank">
                                </div>
                                <div class="col-2 text-success">
                                    <?php echo !empty($result['obtained_marks']) ? $result['obtained_marks'] : 0; ?>
                                </div>
                                <div class="col-1">
                                    <?php echo $result['test_count'] ?>
                                </div>
                                <div class="col-2">
                                    <?php echo $result['question_count'] ?>
                                </div>
                                <div class="col-2">
                                    <?php echo $result['correct_ans_count'] ?>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
        
                    </div>
                </div>
        
                <!-- AD -->
                <div class="mt-3 text-center">
                    <?php include __DIR__.'/ad/banner.php';?>
                </div>
                
            </div>
        </div>

    </div>

    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>

</body>

</html>

<script>
    $("#month").change(function () {
        val = $("#month option:selected").val();
        url = '/examcenter/rank/'+val;
        window.location.href = url;
    });

    $(document).ready(function(){
        $('#month option:contains("<?php echo $month ?>")').attr("selected", true);
    });
    
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KPXYFG7WZV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KPXYFG7WZV');
</script>