<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/template/resource/app.css" rel="stylesheet">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <title>My Profile</title>
</head>

<body>
    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>


    <!-- error message start -->
    <?php if(isset($_GET['error'])) {
        if(!$_GET['error']){ ?>
    <div class="bg-light text-white">
        <div class="container">
            <div class="pt-3 pb-3 text-danger">
                <?php echo $_GET['msg'] ?>
            </div>
        </div>
    </div>
    <?php }} ?>

    <?php if(isset($_GET['error'])) {
        if($_GET['error']){ ?>
    <div class="bg-light text-white">
        <div class="container">
            <div class="pt-3 pb-3 text-success">
                <?php echo $_GET['msg'] ?>
            </div>
        </div>
    </div>
    <?php }} ?>
    <!-- error message end -->


    <div class="container">

        <div class="row mt-4 mb-3">

            <!-- Edit Profile -->
            <div class="col-12 col-md-9">
                <div class="pe-3 ps-3 mb-3">
                    <div class="border-bottom pb-3 h5">
                        Public profile
                    </div>
                    <form action="/user/update_profile" method="post">
                        <div class="form-group mt-2">
                            <label><strong>Name</strong></label>
                            <input name="displayName" type="text" class="form-control" placeholder="Name"
                                autocomplete="off" value="<?php echo $user->display_name ?>">
                            <small class="form-text text-muted">Your name may appear around on this website where you
                                contribute or are mentioned. You can remove it at any time.</small>
                        </div>
                        <div class="form-group mt-2">
                            <label><strong>Bio</strong></label>
                            <textarea name="aboutMe" class="form-control" rows="3"
                                placeholder="Tell us a little about yourself"><?php echo $user->about_me ?></textarea>
                        </div>
                        <div class="form-group mt-2" id="locationSelect">
                            <label><strong>Location</strong></label>
                            <select name="location" class="form-control" required>
                                <option value="">Select district</option>
                                <option value="Alipurduar">Alipurduar</option>
                                <option value="Bankura">Bankura</option>
                                <option value="Bishnupur">Bishnupur</option>
                                <option value="Berhampore">Berhampore</option>
                                <option value="Birbhum">Birbhum</option>
                                <option value="Cooch Behar">Cooch Behar</option>
                                <option value="Dakshin Dinajpur">Dakshin Dinajpur</option>
                                <option value="Darjeeling">Darjeeling</option>
                                <option value="Hooghly">Hooghly</option>
                                <option value="Howrah">Howrah</option>
                                <option value="Ichamati">Ichamati</option>
                                <option value="Jalpaiguri">Jalpaiguri</option>
                                <option value="Jangipur">Jangipur</option>
                                <option value="Jhargram">Jhargram</option>
                                <option value="Kalimpong">Kalimpong</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Malda">Malda</option>
                                <option value="Murshidabad">Murshidabad</option>
                                <option value="Nadia">Nadia</option>
                                <option value="North 24 Parganas">North 24 Parganas</option>
                                <option value="Paschim Bardhaman">Paschim Bardhaman</option>
                                <option value="Paschim Medinipur">Paschim Medinipur</option>
                                <option value="Purba Bardhaman">Purba Bardhaman</option>
                                <option value="Purba Medinipur">Purba Medinipur</option>
                                <option value="Purulia">Purulia</option>
                                <option value="Ranaghat">Ranaghat</option>
                                <option value="South 24 Parganas">South 24 Parganas</option>
                                <option value="Sundarban">Sundarban</option>
                                <option value="Uttar Dinajpur">Uttar Dinajpur</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $("#locationSelect select").val("<?php echo $user->location ?>").change();
                            });
                        </script>

                        <div class="form-group mt-2">
                            <small class="form-text text-muted">
                                All of the fields on this page are optional and can be deleted at any time,
                                and by filling them out, you're giving us consent to share this data wherever
                                your user profile appears.
                            </small>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-success">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Side Bar -->
            <div class="col-12 col-md-3">
                <?php include __DIR__.'/static/user_sidebar.html';?>
            </div>
        </div>

    </div>

    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>

</body>

</html>