<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/template/resource/app.css" rel="stylesheet">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <title>Create Account - Mcqschools</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-10 col-sm-7 col-md-7 col-lg-4 m-auto">
                <form action="/user/registration_process" id="regform" class="d-block" method='POST'>
                    <div class="mt-4 text-center ">
                        <a href="/" class="text-decoration-none text-dark">
                            <span class="fw-bold h2">mcQ</span>
                            <span class="fs-6">Schools</span>
                        </a>
                    </div>
                    <div class="form-group mt-5 mb-4">
                        <h4>Create Account</h4>
                    </div>

                    <?php if($error=='true'){?>
                    <div>
                        <div id="warning-msg" class="alert alert-warning">
                            Email address already exists
                        </div>
                    </div>
                    <?php } ?>

                    <div class="mb-2">
                        <label for="email" class="form-label">Email address</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="Enter email"
                            required>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Password</label>
                        <input id="pass" name="pass" type="password" class="form-control" minlength="5"
                            placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                            placeholder="Password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </form>

                <div class=" mt-5 mb-5">
                    <div class="text-secondary">
                        Already have an account?
                        <a href="/user/login">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#regform").validate({
                errorClass: 'text-danger',
                rules: {
                    email: {
                        required: true,
                    },
                    pass: {
                        required: true,
                        minlength: 5
                    },
                    confirmPassword: {
                        equalTo: "#pass",
                        minlength: 5
                    }
                },
                messages: {
                    email: { required: "Enter your email" },
                    pass: { required: "Enter your password" },
                    confirmPassword: { required: "Confirm your password" }
                }
            });
        });



        $(document).ready(function () {
            if (window.location.href.indexOf("error=") > -1) {
                $("#warning-msg").removeClass("d-none");
                $("#warning-msg").html(getUrlParameter('error'));
            }
        });


        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
    </script>

</body>

</html>