<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/template/resource/app.css" rel="stylesheet">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <title>Change Password</title>
</head>

<body>
    <!-- HEADER -->
    <?php include __DIR__.'/static/header.html';?>

    <!-- error message start -->
    <?php if(isset($_GET['error'])) {
            if(!$_GET['error']){ ?>
    <div class="bg-light text-white">
        <div class="container">
            <div class="pt-3 pb-3 text-danger">
                <?php echo $_GET['msg'] ?>
            </div>
        </div>
    </div>
    <?php }} ?>

    <?php if(isset($_GET['error'])) {
            if($_GET['error']){ ?>
    <div class="bg-light text-white">
        <div class="container">
            <div class="pt-3 pb-3 text-success">
                <?php echo $_GET['msg'] ?>
            </div>
        </div>
    </div>
    <?php }} ?>
    <!-- error message end -->


    <!-- BODY -->
    <div class="container">

        <div class="row mt-4 mb-3">

            <!-- Emails -->
            <div class="col-12 col-md-9">
                <div class="pe-3 ps-3 mb-3">
                    <div class="border-bottom pb-3 h5">
                        Change Password
                    </div>

                    <!-- Form -->
                    <div>
                        <form action="/user/update_password" method="post" id="validatedForm">
                            <div class="form-group">
                                <label><strong class="small">Old Password</strong></label>
                                <input name="oldPass" type="password" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <label><strong class="small">New password</strong></label>
                                <input name="newPass" type="password" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <label><strong class="small">Confirm new password</strong></label>
                                <input name="cnfNewPass" type="password" class="form-control">
                            </div>
                            <div class="text-muted">
                                <span class="small">Make sure password is at least 8 characters including a number and a
                                    lowercase letter.</span>
                            </div>
                            <div class="mt-3"><button type="submit" class="btn border btn-light mb-2">Change
                                    Password</button></div>
                        </form>
                        <div>
                            <small id="emailInfo"></small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Bar -->
            <div class="col-12 col-md-3">
                <?php include __DIR__.'/static/user_sidebar.html';?>
            </div>
        </div>

    </div>
    <!-- FOOTER -->
    <?php include __DIR__.'/static/footer.html';?>
</body>
<script>
    jQuery('#validatedForm').validate({
        errorClass: 'text-danger',
        rules: {
            newPass: {
                minlength: 5
            },
            cnfNewPass: {
                minlength: 5,
                equalTo: '[name="newPass"]'
            },
            messages: {
                cnfNewPass: { required: "Please enter the same password again." }
            }
        }
    });
</script>

</html>