<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/template/resource/app.css" rel="stylesheet">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <title>Category</title>
</head>

<body>
    <!-- HEADER -->
    <?php include __DIR__.'/admin_header.html';?>

    <!-- BODY -->
    <div class="container">
        <div class="row mt-5">




            <!-- Parent Category List-->
            <div class="col-3">
                <!-- Title -->
                <div class="d-flex bd-highlight">
                    <div class="flex-fill bd-highlight">
                        <div class="h5">
                            <a class="text-decoration-none text-dark" href="/category/list">
                                Categories
                            </a>
                        </div>
                    </div>
                    <div class="text-end bd-highlight">
                        <a href="/category/add" class="btn btn-sm btn-primary">Add Parent Category</a>
                    </div>
                </div>


                <div class="mt-1">
                    <ul class="list-group">
                        <li class="list-group-item bg-light fw-bold">Title</li>
                        <?php foreach ($parentCategoryList as $parentCat) { ?>
                        <li class="list-group-item">
                            <div class="d-flex bd-highlight">
                                <div class="flex-fill bd-highlight">
                                    <a href="/category/list/<?php echo $parentCat['id'] ?>"
                                        class="text-decoration-none">
                                        <?php echo $parentCat['title'] ?>
                                    </a>
                                </div>
                                <div class="bd-highlight">
                                    <a href="/category/edit/<?php echo $parentCat['id'] ?>"
                                        class="text-decoration-none btn btn-secondary btn-sm">
                                        <div>Edit</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>

            <!-- Sub Category List-->
            <div class="col-9">
                <!-- Title -->
                <div class="d-flex bd-highlight mb-1">
                    <div class="flex-fill bd-highlight">
                        <div class="h5">
                            <?php echo empty($category)? 'Select Parent Category' : $category['title'] ?>
                        </div>
                    </div>
                    <div class="text-end bd-highlight">
                        <?php if( !empty($category) ) { ?>
                        <a href="/category/add/<?php echo $category['id'] ?>" class="btn btn-sm btn-primary">Add Sub
                            Category</a>
                        <?php } ?>
                    </div>
                </div>

                <!-- List -->
                <table class="table table-bordered rounded">
                    <thead class="bg-light text-secondary">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Hit Count</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($subCategorylist as $cat) { ?>
                        <tr>
                            <td>
                                <a href="/category/edit/<?php echo $cat['id'] ?>" class="text-decoration-none">
                                    <div>
                                        <?php echo $cat['title'] ?>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <?php echo $cat['hit_count'] ?>
                            </td>
                            <td>
                                <?php if($cat['enabled'] ){ ?>
                                <span class="badge bg-success badge-pill">Active</span>
                                <?php } else { ?>
                                <span class="badge bg-secondary badge-pill">Disabled</span>
                                <?php } ?>
                            </td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</body>

</html>