<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/template/resource/app.css" rel="stylesheet">
    <script src="/template/resource/jquery.min.js"></script>
    <link href="/template/resource/bootstrap.min.css" rel="stylesheet">
    <script src="/template/resource/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <title>Category</title>
</head>

<body>
    <!-- HEADER -->
    <?php include __DIR__.'/admin_header.html';?>
    
    <!-- BODY -->
    <div class="container">
        <div class="row">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 m-auto">
                <div class="mt-5 mb-3">
                    <span class="h4">Category</span>
                </div>
                <form action="/category/save_process" method="post">
                    <div>
                        <input name="id" type="hidden" value="<?php echo $category->id ?>">
                        <input name="parent_id" type="hidden" value="<?php echo $parentCategory?  $parentCategory->id : '0' ?>" id="parentCategoryId">
                    </div>
                    <?php if($parentCategory && $parentCategory->id) { ?>
                    <div class="form-group">
                        <label class="small">Parent Category</label>
                        <div class="fw-bold"><?php echo $parentCategory->title ?></div>
                    </div>
                    <?php } ?>

                    <div class="form-group mt-3">
                        <label>Name</label>
                        <input name="title" value="<?php echo $category->title ?>" type="text" class="form-control" placeholder="Category name"  required>
                    </div>
                    <div class="form-group mt-2">
   
                            <label>Status</label>
                            <select name="enabled" class="form-control" required>
                                <option value="true" <?php echo $category->enabled == true ? 'selected' : '' ?>>Enabled</option>
                                <option value="false" <?php echo $category->enabled == false ? 'selected' : '' ?>>Disabled</option>
                            </select>
     
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-sm btn-primary float-end">Save Category</button>
                        <a href="/category/list" class="btn btn-sm btn-secondary me-2 float-end">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>


<script>
    /*
    var autocompleteList = [];
    var timer = 0;
    $("#categorySearchQuery").keyup(function () {
        if (timer) { clearTimeout(timer); }
        timer = setTimeout(categoryQuerySuggest, 400);
    });

    function categoryQuerySuggest() {
        searchStr = $("#categorySearchQuery").val();
        $("#parentCategoryId").val(0);
        if (searchStr.length > 0) {
            $.ajax({
                type: 'GET',
                //dataType: 'JSON',
                url: "/category/autocomplete/" + searchStr,
                success: function (result) {
                    result = JSON.parse(result);
                    $("#autocompleteResult").show();
                    $("#autocompleteResult").empty();
                    autocompleteList = result;
                    $.each(result, function (key, obj) {
                        $("#autocompleteResult").append('<li class="list-group-item grayHover p-2"><a href="#" class="text-decoration-none d-block text-dark">' + obj.title + '</a></li>');
                    });
                    if (result.length == 0)
                        $("#autocompleteResult").hide();
                }
            });
        } else {
            $("#autocompleteResult").hide();
        }

    }


    $("body").on("click", "ul#autocompleteResult li", function () {
        catStr = $(this).text().trim();
        $.each(autocompleteList, function (key, value) {
            if (catStr == value.title) {
                $("#categorySearchQuery").val(catStr);
                $("#parentCategoryId").val(value.id);
            }
        });
        $("#autocompleteResult").hide();
    });
    $("body").on("click", function () {
        $("#autocompleteResult").hide();
    });


    // delete exam
    $('#delete').click(function () {
        return confirm('Are you sure you want to delete');
    });
    */
</script>