<div class="mb-2">
    <div class="row m-3 p-2 pt-4 pb-4 bg-white rounded shadow-sm">
        <div class="col-12 col-md-4">
            <span class="h4 text-success">World Environment Day</span>
            <div class="small">Saturday, 5 June 2021</div>
        </div>
        <div class="col-12 col-md-8">
            <div class="blockquote mb-1">
                Reimagine. Recreate. Restore.
            </div>
            <span class="small text-secondary"> The theme of 47th World Environment Day is 'Ecosystem Restoration.' This year, the focus is on resetting relations with nature</span>
        </div>
    </div>
</div>