<div class="dropdown">
    <span>
        <span style="vertical-align: 0.125em;" class="pe-2">
            <img src="/template/icon/category.svg" alt="category">
        </span>
        <span class=" btn btn-sm text-secondary p-0 dropdown-toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">
            Categories
        </span>
    </span>

    <div class="offcanvas offcanvas-start min-vh-100 min-vw-100" tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <div id="offcanvasBottomLabel">
                <div>
                    <span class="fw-bold h2">mcQ</span>
                    <span class="fs-6">Schools</span>
                </div>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body text-start">
            <!-- content start-->
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
                <div class="col">
                    <div class="p-2 mb-3 h6 text-primary">India</div>

                    <a href="/search/query/indian-geography"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Indian Geography</a>
                    <a href="/search/query/indian-history"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Indian History</a>
                    <a href="/search/query/indian-economy"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Indian Economy</a>
                    <a href="/search/query/indian-polity"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Indian Polity</a>

                </div>
                <div class="col">
                    <div class="p-2 mb-3 h6 text-primary">Quiz</div>

                    <a href="/category/search/Quiz"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Quiz</a>
                    <a href="/category/search/Geography"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Geography</a>
                    <a href="/category/search/History"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">History</a>
                    <a href="/category/search/Inventions"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Inventions</a>
                    <a href="/category/search/Computer"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Computer</a>
                    <a href="/category/search/Cricket"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Cricket</a>
                    <a href="/category/search/Olympic-Games"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Olympic Games</a>
                </div>
                <div class="col">
                    <div class="p-2 mb-3 h6 text-primary">Computer Quiz</div>

                    <a href="/category/search/Java"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">Java</a>
                    <a href="/category/search/javascript"
                        class="d-block bg-hover text-decoration-none text-dark h6 p-2 rounded">JavaScript</a>

                </div>
            </div>
            <!-- content end-->

        </div>
    </div>
</div>