<div class="dropdown">
    <span>
        <span style="vertical-align: 0.125em;" class="pe-2">
            <img src="/template/icon/category.svg" alt="category">
        </span>
        <span class=" btn btn-sm text-secondary p-0 dropdown-toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">
            Categories
        </span>
    </span>

    <div class="offcanvas offcanvas-start min-vh-100 min-vw-100 p-2 pt-0" tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <div id="offcanvasBottomLabel">
                <div>
                    <span class="fw-bold h2">mcQ</span>
                    <span class="fs-6">Schools</span>
                </div>
            </div>
            <button type="button" class="btn-close text-reset mt-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body text-start">
            <!-- content start-->
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
                <div class="col">
                    <div class="p-2 mb-3 text-primary"><span class="h6">Quiz</span><div class="small text-secondary">Exam & Test</div></div>

                    <a href="/category/exam/aptitude-and-reasoning"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Aptitude and Reasoning</a>
                    <a href="/category/exam/indian-geography"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Indian Geography</a>
                    <a href="/category/exam/indian-history"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Indian History</a>
                    <a href="/category/exam/indian-economy"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Indian Economy</a>
                    <a href="/category/exam/indian-politics"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Indian Polity</a>
                    <a href="/category/exam/west-bengal-geography"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">West Bengal Geography</a>
                    <a href="/category/exam/West-Bengal-Police-(WBP)-Examination"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">West Bengal Police (WBP) Examination</a>
                    <a href="/category/exam/wbjee-nursing"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">WBJEE Nursing(ANM, GNM) Examination</a>
                        
                </div>
                <div class="col">
                    <div class="p-2 mb-3 text-primary"><span class="h6">Computer Quiz</span><div class="small text-secondary">Quick Quiz</div></div>

                    <a href="/category/exam/Computer-Fundamental"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Computer Fundamental</a>
                    <a href="/category/exam/Java"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">Java</a>
                    <a href="/category/exam/Database-Management-System-(DBMS)"
                        class="d-block bg-hover text-decoration-none text-dark m-0 h6 p-2 rounded">DBMS</a>
                    <a href="/category/exam/javascript"
                        class="d-block bg-hover text-decoration-none text-dark h6 m-0 p-2 rounded">JavaScript</a>

                </div>
            </div>
            <div class=" mt-3 mb-3">
                <a href="/category/browse" class="btn btn-sm border rounded-pill ps-3 pe-3">All Categories</a>
            </div>
            <!-- content end-->

        </div>
    </div>
</div>