<div class="mt-5 mb-2 small text-secondary">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="">© mcqschools.com 2021</span> 
            </div>
            <div class="col text-end">
                <span class="inline-block">contact : info@mcqschools.com</span>
                <a href="/index/privacy_policy" class="text-decoration-none text-secondary d-inline-block ps-2">Terms of Use & Privacy Policy</a> 
            </div>
        </div>
    </div>
</div>