<div class="mt-5 mb-5 small text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <div class="d-inline d-md-block text-start">

                    <span style="vertical-align: 0.125em;">
                        <img src="/template/icon/telegram.svg" alt="telegram" width="18px">
                    </span>
                    <a href="https://t.me/gk243" class="text-decoration-none text-secondary d-inline-block ps-2 pe-2">Telegram</a> 

                    <span style="vertical-align: 0.125em;">
                        <img src="/template/icon/facebook.svg" alt="telegram" width="18px">
                    </span>
                    <a href="https://www.facebook.com/mcqschools" class="text-decoration-none text-secondary d-inline-block ps-2">Facebook</a> 

                </div>
            </div>
            <div class="col-12 col-md-8 text-center">
                <div class="d-inline d-md-block text-end">
                    <span class="">© mcqschools.com 2021</span> 
                    <a href="/index/privacy_policy" class="text-decoration-none text-secondary d-inline-block ps-2">Terms of use & privacy policy</a> 
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer menu-->
<div class="fixed-bottom bg-white border-top d-block d-md-none" id="bottomNevbar">
    <div class="container ">
        <div class="d-flex small bd-highlight pt-2 pb-2">

            <div class="flex-fill bd-highlight text-center">
                <a href="/category/testList" class="text-decoration-none text-secondary">
                    <span style="vertical-align: 0.125em;" class="pe-2">
                        <img src="/template/icon/test.svg" alt="conduct exam">
                    </span>
                    <div class="small">Test</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight text-center">
                <a href="/category/quizList" class="text-decoration-none text-secondary">
                    <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                        <img src="/template/icon/quiz-black.svg" alt="practice">
                    </span>
                    <div class="small">Quiz</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight  text-center">
                <a href="/examcenter/rank" class="text-decoration-none text-secondary">
                    <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                        <img src="/template/icon/rank-black.svg" alt="rank">
                    </span>
                    <div class="small">Rank</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight text-center">
                <a href="/examcenter/myresults" class="text-decoration-none text-secondary">
                    <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                        <img src="/template/icon/result.svg" alt="result">
                    </span>
                    <div class="small">Result</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight text-center d-none">
                <a href="/quiz/live" class="text-decoration-none">
                    <div><span class="badge bg-secondary mt-1">LIVE</span></div>
                    <div class="text-secondary small">Quiz</div>
                </a>
            </div>


        </div>
    </div>
</div>