<div class="mt-5 mb-5">
    <div class="mt-5 mb-5 text-white">
          -
    </div> 
</div>

<!-- footer menu-->
<div class="fixed-bottom bg-white border-top d-block d-md-none" id="bottomNevbar">
    <div class="container ">
        <div class="d-flex bd-highlight pt-2 pb-2 fw-bold">

            <div class="flex-fill bd-highlight text-center">
                <a href="/category/testList" class="text-decoration-none text-dark">
                    <span style="vertical-align: 0.125em;" class="pe-2">
                        <img src="/template/icon/test.svg" alt="conduct exam">
                    </span>
                    <div class="small">Menu</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight  text-center">
                <a href="/examcenter/rank" class="text-decoration-none text-dark">
                    <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                        <img src="/template/icon/rank-black.svg" alt="rank">
                    </span>
                    <div class="small">Rank</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight text-center">
                <a href="/examcenter/myresults" class="text-decoration-none text-dark">
                    <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                        <img src="/template/icon/result.svg" alt="result">
                    </span>
                    <div class="small">Result</div>
                </a>
            </div>

            <div class="flex-fill bd-highlight text-center d-none">
                <a href="/quiz/live" class="text-decoration-none">
                    <div><span class="badge bg-secondary mt-1">LIVE</span></div>
                    <div class="text-secondary small">Quiz</div>
                </a>
            </div>


        </div>
    </div>
</div>