<div class="bg-top shadow-sm">
    <div class="border-0">
        <div class="container">

            <div class="row" id="topNavBar">

                <!-- Logo -->
                <div class="col-6 h4 mb-0 pt-2 pb-2">
                    <a href="/" class="text-decoration-none">
                        <div class="text-white">
                            <span class="fw-bold h2">mcQ</span><span class="fs-6">Schools</span>
                        </div>
                    </a>
                </div>


                <div class="col-6  pt-2 pb-2 pe-3 text-end">
                    <div class="d-flex flex-row flex-nowrap">
                        <!-- Search icon -->
                        <div class="flex-fill">
                            <div class="ps-2 pe-2 btn text-white" id="topSearchIcon">
                                <span style="vertical-align: 0.125em;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <!-- User Icon -->
                        <div class="ps-2 pe-2">
                            <a href="/user/profile" class="text-decoration-none text-white">
                                <span style=" vertical-align: 0.125em;" class="btn text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pt-2 pb-2 d-none" id="topSearchBar">
                <form id="searchForm">
                    <div class="input-group bg-white rounded pe-1" style="position: relative">
                        <button class="btn btn-white me-1">
                            <span style="vertical-align: 0.125em;">
                                <img src="/template/icon/search.svg" alt="search" width="18px">
                            </span>
                        </button>
                        <input id="searchQuery" type="text" class="form-control border-0" placeholder="Search"
                            autocomplete="off">
                        <div class="bg-white border shadow-sm rounded" id="querySuggationResultDisplay"
                            style="position: absolute; width: 100%; top: 100%; z-index: 100; left: 0px; right: auto; display: none;">
                            <div id="searchQueryList"></div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="bg-white" id="topNevLinkbar">
    


        <?php if (!isset($_SESSION['authenticated']) ){ ?>
            <div class=" border-bottom">
                <div class=" container">
                    <div class="row flex-row pt-2 pb-2 fw-bold text-center">
                        <div class="col text-end">
                            <a href="/user/login" class="text-decoration-none text-dark text-nowrap badge bg-warning ps-3 pe-3">
                                <span style=" vertical-align: 0.125em;" class="pe-2">
                                    <img src="/template/icon/login.svg" alt="login">
                                </span>
                                <span class="text-dark">Login</span>
                            </a>
                        </div>
                        <div class="col text-start">
                            <a href="/user/register" class="text-decoration-none text-dark text-nowrap badge bg-warning ps-3 pe-3">
                                <span style="vertical-align: 0.125em;" class="pe-2">
                                    <img src="/template/icon/register.svg" alt="register">
                                </span>
                                <span class="text-dark">Register</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <?php } else { ?>
            <div class=" border-bottom d-none d-md-block">
                <div class=" container">
                    <div class="row flex-row flex-nowrap pt-2 pb-2 small overflow-auto fw-bold text-center">
            
                        <div class="col d-none">
                            <a href="/quiz/live" class="text-decoration-none text-dark text-nowrap">
                                <span class="badge bg-secondary mt-1">LIVE</span>
                                <span class="">Quiz</span>
                            </a>
                        </div>
            
                        <div class="col">
                            <a href="/category/testList" class="text-decoration-none text-dark text-nowrap">
                                <span style=" vertical-align: 0.125em;" class="ps-0 pe-2">
                                    <img src="/template/icon/practice.svg" alt="practice">
                                </span>
                                <span class="">Practice</span>
                            </a>
                        </div>
            
                        <div class="col">
                            <a href="/examcenter/rank" class="text-decoration-none text-dark text-nowrap">
                                <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                                    <img src="/template/icon/rank-black.svg" alt="rank">
                                </span>
                                <span class="">Rank</span>
                            </a>
                        </div>
            
                        <div class="col">
                            <a href="/examcenter/myresults" class="text-decoration-none text-dark text-nowrap">
                                <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                                    <img src="/template/icon/result.svg" alt="result">
                                </span>
                                <span class="">Results</span>
                            </a>
                        </div>
            
                        <!-- 
                                <div class="col">
                                    <a href="/exam/subscription" class="text-decoration-none text-dark text-nowrap">
                                        <span style=" vertical-align: 0.125em;" class="ps-2 pe-2">
                                            <img src="/template/icon/subscribe.svg" alt="result">
                                        </span>
                                        Subscriptions
                                    </a>
                                </div>
                                -->
            
                    </div>
                </div>
            </div>
        <?php } ?>


    </div>
</div>



<script>
    // nevbar fixed top
    /*
    $(window).scroll(function () {
        if ($(this).scrollTop() > 80) {
            $('#topNevLinkbar').addClass('fixedTop');
        } else {
            $('#topNevLinkbar').removeClass('fixedTop');
        }
    });
    */

    $(document).ready(function () {
        $("#topSearchIcon").click(function () {
            $("#topNavBar").hide();
            $("#topSearchBar").removeClass("d-none");
        });
        $("#show").click(function () {

        });
    });
</script>
<script>
    // search script -----------------------------------------------------------
    var timer = 0;

    $("#searchQuery").keyup(function () {
        if (timer) { clearTimeout(timer); }
        timer = setTimeout(searchQuerySuggest, 400);
    });

    $("body").click(function () {
        $("#querySuggationResultDisplay").hide();
    })

    // form submit
    $("#searchForm").submit(function (e) {
        e.preventDefault();
        search_query = $("#searchQuery").val();
        window.location.href = "/search/query/" + search_query.replaceAll(' ', '-');
    });

    // suggation click
    $("#searchQueryList").on("click", "div", function () {
        search_query = $(this).find('span').text();
        window.location.href = "/search/query/" + search_query.replaceAll(' ', '-');
    });

    function searchQuerySuggest() {
        searchStr = $("#searchQuery").val();
        if (searchStr.length > 0) {
            $.ajax({
                type: 'GET',
                url: "/search/autocomplete/" + searchStr,
                success: function (result) {
                    result = JSON.parse(result);

                    // topic list
                    $("#searchQueryList").empty();
                    $("#querySuggationResultDisplay").show();

                    if (result.length) {
                        $.each(result, function (key, obj) {
                            str = getSearchResultElementHtml();
                            str = str.replace("#searchQuery", obj.query_str);
                            $("#searchQueryList").append(str);
                        });
                    }

                    if (!result.length) $("#querySuggationResultDisplay").hide();
                }
            });
        } else {
            $("#querySuggationResultDisplay").hide();
        }
    }

    function getSearchResultElementHtml() {
        return '<div class="btn-group d-block bg-hover"> <button type="button" class="btn btn-white"> <img src="/template/icon/search.svg" alt="search" width="18px"> </button> <button type="button" class="btn btn-white"> <span>#searchQuery</span> </button></div>';
    }
</script>