    <!-- Report Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-light pt-2 pb-2">
                    <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 mb-2 d-none" id="message"></div>
                    <div class="small mb-2">Cause</div>
                    <form id="reportForm">
                        <input name="exam_id" value="" type="hidden">
                        <input name="question_id" value="" type="hidden">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="3" name="type">
                            <label class="form-check-label" >Insufficient data</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="2" name="type">
                            <label class="form-check-label" >Wrong answer</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1" name="type" required>
                            <label class="form-check-label">Wrong category</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="4" name="type">
                            <label class="form-check-label" >Spam content</label>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="form-label small">Message</label>
                            <textarea class="form-control" name="report"  rows="3" maxlength="300"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="submitReportBtn" class="btn btn-primary btn-sm">Report</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    var reportModal = new bootstrap.Modal(document.getElementById('reportModal'), {
        keyboard: false
    });
    function setReportExamId(examId){
        $('#reportForm input[name="exam_id"]').val(examId);
    }
    function setReportQuestionId(questionId){
        $('#reportForm input[name="question_id"]').val(questionId);
    }
    $( "#submitReportBtn" ).click(function() {
        if(!$('#reportForm input[name="type"]').is(":checked")){
            $("#message").removeClass("d-none");
            $("#message").text("Please select a cause");
        }
        else
        {
            $( "#submitReportBtn" ).addClass("disabled");
            $.ajax({
                url: '/report/save',
                type: 'post',
                data: $("#reportForm").serialize(),
                success: function(data) {
                    $("#message").removeClass("d-none");
                    $("#message").html('<span class="h5 text-success">Report successfully sent</span>');
                    
                    setTimeout(function() {
                        $("#message").addClass("d-none");
                        reportModal.hide();
                        $('#reportForm').trigger("reset");
                        $( "#submitReportBtn" ).removeClass("disabled");
                    }, 1500);
                }
            });
        }
    });
    </script>
    <!-- Report Modal - END -->