<div class="row">
    <div class="col">
        <div class="carousel slide p-3 mb-3 bg-white shadow-sm rounded" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="h5">Aptitude</div>
                    <div class="small">Test series & mock test</div>
                </div>
                <div class="carousel-item">
                    <div class="h5">sssssssssss</div>
                    <div class="small">Test series & mock test</div>
                </div>
                <div class="carousel-item">
                    <div class="h5">ddddddddd</div>
                    <div class="small">Test series & mock test</div>
                </div>
            </div>
        </div>
    </div>
</div>