<div>
    <div class="border-bottom pb-3 h5">
        <span style=" vertical-align: 0.125em; padding-right: 6px;">
            <img src="/template/icon/menu.svg" width="20px" alt="menu">
        </span>
        Menu
    </div>
    <div class="list-group mb-2 overflow-hidden">
        <span class="list-group-item list-group-item-action bg-light">
            <span style=" vertical-align: 0.125em;  padding-right: 6px;">
                <img src="/template/icon/user.svg" alt="profile">
            </span>
            <span class="h6">
                <?php echo SessionManager::get('email'); ?>
            </span>
        </span>
        <a href="/user/profile" class="list-group-item list-group-item-action">
            <span style=" vertical-align: 0.125em;  padding-right: 6px;">
                <img src="/template/icon/profile.svg" alt="profile">
            </span>
            Update Profile
        </a>
        <a href="/user/username"  class="list-group-item list-group-item-action">
            <span style=" vertical-align: 0.125em;  padding-right: 6px;">
                <img src="/template/icon/username.svg" alt="username">
            </span>
            Change Usename
        </a>
        <a href="/user/email"  class="list-group-item list-group-item-action">
            <span style=" vertical-align: 0.125em; padding-right: 6px;">
                <img src="/template/icon/email.svg" alt="email">
            </span>
            Change Email
        </a>
        <a href="/user/password"  class="list-group-item list-group-item-action">
            <span style=" vertical-align: 0.125em;  padding-right: 6px;">
                <img src="/template/icon/password.svg" alt="password">
            </span>
            Change Password
        </a>
        <a href="/user/logout"  class="list-group-item list-group-item-action">
            <span style=" vertical-align: 0.125em;  padding-right: 6px;">
                <img src="/template/icon/logout.svg" alt="logout">
            </span>
            Logout
        </a>
      </div>
</div>